<!-- Page Title & Action Button -->
<div class="row mb-3">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-page-title></app-page-title>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
        <app-action-button [buttons]="ActionButtons" (clicked)="handleClickActionButton($event)"></app-action-button>
    </div>
</div>

<!-- Grid -->
<div class="row row_grid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-grid #GridPasien [GridAttributes]="GridAttributes"
            (onSelectionChange)="handleGridSelectionChanged($event)">
        </app-grid>
    </div>
</div>