<!-- Page Title & Action Button -->
<div class="row mb-4">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-page-title></app-page-title>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
        <app-action-button [buttons]="ActionButtons" (clicked)="handleClickActionButton($event)"></app-action-button>
    </div>
</div>

<div class="row" [formGroup]="FormPasien">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <!-- No. Rekam Medis -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    No. Rekam Medis
                </label>
                <input type="text" class="form-control form-select-sm" formControlName="no_rekam_medis"
                    [attr.disabled]="true">
            </div>
        </div>

        <!-- Waktu Entry -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Waktu Entry
                </label>
                <input type="date" class="form-control form-select-sm" formControlName="waktu_entry"
                    [attr.disabled]="true">
            </div>
        </div>

        <!-- No. Identitas -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    No. Identitas *
                </label>
                <input type="text" class="form-control form-select-sm" formControlName="no_identitas">

                <app-form-validator [show]="no_identitas.touched && no_identitas.invalid"
                    [caption]="'No. Identitas Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Nama Lengkap -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Nama Lengkap *
                </label>
                <input type="text" class="form-control form-select-sm" formControlName="nama_lengkap">

                <app-form-validator [show]="nama_lengkap.touched && nama_lengkap.invalid"
                    [caption]="'Nama Lengkap Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <!-- Gender -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Gender *
                </label>
                <select class="form-select form-select-sm" formControlName="gender">
                    <option selected></option>
                    <option value="Pria">
                        Pria
                    </option>
                    <option value="Wanita">
                        Wanita
                    </option>
                </select>

                <app-form-validator [show]="gender.touched && gender.invalid" [caption]="'Gender Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Tanggal Lahir -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Tanggal Lahir *
                </label>
                <input type="date" class="form-control form-select-sm" formControlName="tanggal_lahir">

                <app-form-validator [show]="tanggal_lahir.touched && tanggal_lahir.invalid"
                    [caption]="'Tanggal Lahir Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Tempat Lahir -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Tempat Lahir *
                </label>
                <input type="text" class="form-control form-select-sm" formControlName="tempat_lahir">

                <app-form-validator [show]="tempat_lahir.touched && tempat_lahir.invalid"
                    [caption]="'Tempat Lahir Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Usia -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Usia (Tahun) *
                </label>
                <input type="number" class="form-control form-select-sm" formControlName="usia">

                <app-form-validator [show]="usia.touched && usia.invalid" [caption]="'Usia Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <!-- Alamat Lengkap -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Alamat Lengkap *
                </label>
                <textarea type="text" class="form-control form-select-sm" rows="5" formControlName="alamat_lengkap"
                    style="height: 112px; resize: none;"></textarea>

                <app-form-validator [show]="alamat_lengkap.touched && alamat_lengkap.invalid"
                    [caption]="'Alamat Lengkap Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Tempat Lahir -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Kota Alamat Tinggal *
                </label>
                <input type="text" class="form-control form-select-sm" formControlName="kota">

                <app-form-validator [show]="kota.touched && kota.invalid"
                    [caption]="'Kota Alamat Tinggal Tidak Boleh Kosong'">
                </app-form-validator>
            </div>
        </div>

        <!-- Is Active -->
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="" class="form-label">
                    Status Active
                </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_active" id="is_active_true"
                        formControlName="is_active" [value]="true">
                    <label class="form-check-label" for="is_active_true">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_active" id="is_active_false"
                        formControlName="is_active" [value]="false">
                    <label class="form-check-label" for="is_active_false">Non Active</label>
                </div>
            </div>
        </div>
    </div>

</div>